@import "../../scss/mixin.scss";
@import "../../scss/colors.scss";

.CartDropDown {
    @include display(flex, flex-start, center);
    flex-direction: column;
    width: 200px;
    height: 300px;
    border: 1px solid $color_black;
    background-color: $color_white;
    z-index: 5;
    position: absolute;
    top: 70px;
    padding: 20px;
    right: 20px;
    overflow: auto;

    .cartItems {
        @include display(flex, space-between, flex-start);
        background-color: transparent;
        margin: 10px;

        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
        }

        .content {
            height: 70px;
            width: 150px;
            @include display(flex, flex-start, center);
            flex-direction: column;
            text-align: center;
            font-size: 14px;
            line-height: 10px;

            span {
                padding: 0 3px;
            }


        }
    }
}